<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Php-todo-list</title>

    <link rel="stylesheet" href="style.css">


</head>
<body>

<div id="app">
    

    <div>
        
        <form action="" method="post" @submit.prevent="addTask()">
            <div>
                <h1>
                    task: {{ newTask.taskName }}
                </h1>

                <label for="taskName">
                </label>
                <input type="text" v-model="newTask.taskName" name="taskName" id="taskName" placeholder="inserisci nuova task" required>
            </div>
            <button type="submit">
                invia
            </button>
        </form>
    </div>

    <ul>
        <li v-for="singleItem in toDoList">
            <span :class="{
                done: singleItem.done == true
            }">
            {{ singleItem.taskName }} {{ singleItem.done }}
            </span>
        </li>
    </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script type="text/javascript" src="scripts.js"></script>
    
</body>
</html>